body {
    background: #fafafa;
}

.list-cars {
    display: inline-block;
    width: 100%;
}

.list-cars .car-box {
    width: 31%;
    background: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 0.8rem 0.5rem;
    font-size: 0.8rem;
    border-radius: 5px;
    cursor: pointer;
    margin: 1%;
    float: left;
    height: 300px;
}

.list-cars .car-box:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 1s all;
    transform: scale(1.02);
    color: #666666 !important;
}

.list-cars .car-box .car-title {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.list-cars .car-box .description {
    height: 160px;
    overflow-y: auto;
}

.list-cars .car-detail .carname {
    display: contents;
}

.car-register {
    position: fixed;
    right: 30px;
    bottom: 30px;
}

.car-register img {
    width: 110px;
    height: auto;
}

.car-register:hover {
    transition: 0.5s all;
    transform: scale(1.1);
}