{% extends "base.html" %}
{% load static %}

{% block title %}
<title>Car Management</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/car.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="{% url 'core:home' %}">Smart Parking</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="{% url 'core:parking' %}">Parking</a></li>
            <li class="nav-item active"><a class="nav-link" href="{% url 'core:car' %}">Cars</a></li>
        </ul>
        <a class="navbar-brand" href="#">
            <i class="fas fa-user-circle"></i>
            Account
        </a>
        <a class="navbar-brand" href="{% url 'core:logout' %}">
            Logout
        </a>
    </nav>
    <div class="container">
        <h2 class="text-center my-3">Your registered cars</h2>
        <div class="list-cars">
        {% if list_cars %}
            {% for car in list_cars %}
            <a class="car-box" href="#history" carId="{{car.id}}">
                <div class="car-title">Car {{forloop.counter}}</div>
                <div class="car-detail">
                    <div class="d-flex my-1">
                        <div class="col-md-5 font-weight-bold pr-0">Car's name</div>
                        <div class="col-md-7 pl-0 carname">{{car.car_name}}</div>
                    </div>
                    <div class="d-flex my-1">
                        <div class="col-md-5 font-weight-bold pr-0">Plate number</div>
                        <div class="col-md-7 pl-0">{{car.license_plate_number}}</div>
                    </div>
                    <div class="d-flex my-1 description">
                        <div class="col">
                            <b class="mr-3">Description: </b>
                            {{car.description}}
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        {% else %}
        {% endif %}
        </div>
    </div>
    <div class="container">
        <div id="history" class="history" style="height: 700px;">
            {% include 'car_history.html' with list_histories=list_histories %}
        </div>
    </div>
</div>
<div class="car-register" title="Register new car">
    <a href="{% url 'core:car-register' %}">
        <img src="{% static 'images/registernowbutton.gif' %}" alt="register">
    </a>
</div>
{% endblock %}

{% block js %}
<script>
    $(".car-box").click(function (e) {
        if (this.hash !== "") {
            e.preventDefault();
            const hash = this.hash;
            const carId = $(this).attr("carId");
            $.ajax({
                url: `/car/histories/${carId}/`,
                method: "GET",
                success: function(data) {
                    $("#history").html(data);
                }
            });

            $('html, body').animate({
                scrollTop: $(hash).offset().top
            }, 500, function () {
                window.location.hash = hash;
            });
        }
    });
</script>
{% endblock %}